* {
  text-decoration: none;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.logo {
  color: rgb(128, 53, 202);
  font-size: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  margin: 2rem;
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  color: black;
  padding: 0.2rem 0.6rem;
  margin: 2rem;
  border-radius: 3px;
}

.active {
  color: rgb(128, 53, 202);
  font-weight: bold;
}
.Category-container {
  display: flex;
  flex-wrap: wrap;
}
.category {
  color: black;
  height: 8rem;
  width: 12rem;
  margin: 3rem 1.5rem;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  word-wrap: break-word;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: black;
  margin-left: 1rem;
  margin-top: 2rem;
  overflow-x: hidden;
  padding-top: 20px;
}
.CategoryItem-container {
  margin-left: 160px;
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
}
.checkbox-container {
  margin: 1rem;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.checkbox {
  cursor: pointer;
}
.product {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 1rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  height: 21rem;
  border-radius: 15px;
}
.product img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 15px;
}
.product h5,
p {
  margin: 0.5rem 1rem;
}
.product button {
  outline: none;
  border-style: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  padding: 0.5rem;
  width: 8rem;
  margin: auto;
  cursor: pointer;
}
.product button:disabled {
  color: gray;
  background-color: rgb(238, 235, 235);
  cursor: not-allowed;
}
.Alert {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: auto;
  font-size: large;
  color: rgb(128, 53, 202);
}
.cart-price {
  position: absolute;
  right: 5rem;
  font-size: 1.5rem;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 5rem;
  will-change: transform;
}

.cart-price:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.cart-price:active {
  box-shadow: none;
  transform: translateY(0);
}
.wrapper .tooltip {
  background: black;
  bottom: 100%;
  color: #fff;
  display: block;
  right: 0;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
.wrapper .tooltip:before {
  bottom: -20px;
  content: ' ';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #000000 10px;
  bottom: -10px;
  content: ' ';
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.cartProduct-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cartProduct {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 1rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 20rem;
  border-radius: 15px;
}
.cartProduct img {
  width: 12rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 15px;
}
.cartProduct h3 {
  margin: 0.5rem 1rem;
}
.cartProduct .btn-container {
  display: flex;
  justify-content: space-evenly;
}
.cartProduct .Btn {
  border: none;
  outline: none;
  margin: 1rem 0;
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.cartProduct .count {
  border: none;
  outline: none;
  margin: 1rem 0;
  font-size: 1.5rem;
  color: rgb(35, 85, 35);
}
.cartProduct .removeBtn {
  outline: none;
  border-style: none;
  border-radius: 12px;
  background-color: black;
  color: white;
  padding: 0.5rem;
  width: 10rem;
  margin: auto;
  cursor: pointer;
}
.price {
  margin: 0.5rem 1rem;
}
